numpy==2.1.0
oauthlib==3.2.2
packaging==24.1
pillow==10.4.0
protobuf==5.28.0
pyasn1==0.6.0
Pygments==2.18.0
pytz==2024.1
rpds-py==0.20.0
six==1.16.0
smmap==5.0.1
tenacity==8.5.0
toml==0.10.2
tornado==6.4.1
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
watchdog==4.0.2
XlsxWriter==3.2.0
streamlit==1.32.0
pandas==2.2.2
google-auth==2.34.0
google-auth-oauthlib==1.2.1
gspread==6.1.2
